@use "../../styles/mixins" as *;

.services-cards_container {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.cards-container__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 2.25rem;
  border-radius: 2rem;
  text-align: left;
  border: 2px solid #ccc;
  box-shadow: 0 0 50px #ccc;
  // width: 90%;
  margin: 5px auto;
}

.cards-container__titles {
  margin-bottom: 1.5rem;
  text-align: center;
}

p {
  padding-bottom: 0.5rem;
}

.service-provided_blob {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  align-content: flex-end;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.service-blob_container {
  display: flex;
  width: fit-content;
  border-radius: 1rem;
  justify-content: center;
  background-color: #fac29e;
  padding: 0.4rem 0.8rem;
}
