@use "../../styles/mixins" as *;

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  min-width: 9rem;
  width: fit-content;
  height: 5vh;
  border-radius: 10px;
  border: 2px solid #666;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-decoration: none;
  color: black;
  padding: 2px 5px;
  background-color: #23d5ab;

  &:hover {
    background: #fac29e;
  }

  @media (min-width: $screen-md-min) {
    font-size: 18px;
    min-width: 9rem;
    height: 3rem;
  }

  &--centered {
    align-self: center;
  }
}

.hero {
  @include info-section;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  &__title {
    @include mobile-header;

    @media (min-width: $screen-md-min) {
      font-size: 40px;
      width: 60%;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__description {
    @include mobile-copy;

    @media (min-width: $screen-md-min) {
      line-height: 32px;
      font-size: 24px;
      width: 60%;
    }
  }
}

.services {
  @include info-section;
  padding: 5vh 32px;

  &__title {
    @include mobile-header;
    text-align: center;
    padding: 20px 0;

    @media (min-width: $screen-md-min) {
      font-size: 30px;
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: $screen-md-min) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

.members {
  @include info-section;
  padding: 5vh 32px;
  background-color: #e9ece0;

  &__card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $screen-md-min) {
      flex-direction: row;
    }
  }
}
