.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 5vh 32px;

  .contact-label--required {
    color: rgb(205, 14, 14);
    // font-size: 24px;
    font-weight: bold;
  }

  .contact-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10px 2px 2px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;

    &--auto-resize {
      font-weight: 100;
      resize: none;
      overflow: hidden;
      font-family: inherit;
    }
  }

  .single-thumb .range-slider__thumb[data-lower] {
    width: 0;
  }
  .single-thumb .range-slider__range {
    border-radius: 6px;
  }

  .range-slider {
    box-sizing: border-box;
    margin: 24px auto;
    height: 2px;
  }
}
