.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 36px;
  background-color: #e9ece0;
  font-size: 18px;
  margin: 0;

  img {
    max-width: 40px;
    padding-right: 1rem;
  }
}
// ! why is my footer floating??????
