@use "../../styles/mixins" as *;

.member {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;

  &__image {
    width: 20vw;
    height: auto;
    border-radius: 12.5vw;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__name {
    @include mobile-label;
  }

  &__text {
    @include mobile-copy;
  }
}
